@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    color: white;
}



.nav-link{
    font-weight: bold;
    font-size: 13pt;
    transition: 0.1s;
    transition-timing-function: linear;
    letter-spacing: 2px;
    margin-left: 5px;
}

.nav-link:hover{
    color:rgb(21, 200, 132) !important;
}

.current{
    color:rgb(21, 200, 132) !important;
    text-decoration: underline;
}

.list-group-item{
    background-color: rgb(32, 102, 99);
    color: white;
    font-size: 13pt;
    transition: 0.1s;
    transition-timing-function: linear;
    letter-spacing: 1px;
}

.list-group-item:hover{
    color: white;
    letter-spacing: 5px;
    background-color: rgb(36, 126, 121);
}