{% extends "base.html" %}
{% block content %}

<div class="container mx-auto text-center">
    <h2 class="mt-5 fw-bold" style="letter-spacing: 1.5px;">About Us</h2>
    <p class="mt-3" style="letter-spacing: 1px;">
        Ever had the problem of searching thousands of websites until you found the right code snippet?<br><br>
        We try to make it possible for everyone to find the right code snippet as <b style="color:rgb(47, 255, 134);">quickly</b> and <b style="color:rgb(47, 255, 134);">easily</b> as possible.<br>
        <br>
        We don't focus on learning or teaching, but on finding what you need. <br>
        We try to create a dictionary that should help you with your coding experience.
    </p>
</div>
{% endblock content %}