{% extends "main/base.html" %}
{% block content %}
    
    <div id="main-headline-container">
        <h2>About Us</h2>

        <div class="main-text">
            <p>
                Ever had the problem of searching thousands of websites until you found the right code snippet?<br><br>
                We try to make it possible for everyone to find the right code snippet as <label style="color:greenyellow;">quickly</label> and <label style="color:greenyellow;">easily</label> as possible.<br>
                <br>
                We don't focus on learning or teaching, but on finding what you need. <br>
                We try to create a dictionary that should help you with your coding experience.
            </p>
        </div>
    </div>

{% endblock content %}