{% extends "main/base.html" %}
{% block content %}
    
    <div id="main-headline">
    {% if category_obj.title == "cs" %}
        <h2>C#</h2>

    {% else %}
        <h2>{{ category_obj.title }}</h2>
    {% endif %}
    </div>
    <div id="list">
        {% for topic in topics %}
        <div class="list-item" onclick="openTopic('{{ topic.title }}')">
            <!--<img src="c_icon.png"/>-->
            <p>{{ topic.title }}</p>
        </div>
        {% endfor %}

        
    </div>   

    <script>
        function openTopic(topic){
            window.open("/topic/{{ category_obj.title }}/" + topic, "_self");
        }
    </script>
{% endblock content %}