{% extends "main/base.html" %}
{% block content %}
    <div id="list">
        <div class="list-item">
            <img src="c_icon.png"/>
            <p>How To 1 in c</p>
        </div>
        <div class="list-item">
            <img src="c_icon.png"/>
            <p>How To 1 in c</p>
        </div>
        <div class="list-item">
            <img src="c_icon.png"/>
            <p>How To 1 in c</p>
        </div>
        <div class="list-item">
            <img src="c_icon.png"/>
            <p>How To 1 in c</p>
        </div>
        <div class="list-item">
            <img src="c_icon.png"/>
            <p>How To 1 in c</p>
        </div>
        <div class="list-item">
            <img src="c_icon.png"/>
            <p>How To 1 in c</p>
        </div>
        <div class="list-item">
            <img src="c_icon.png"/>
            <p>How To 1 in c</p>
        </div>
    </div>   
{% endblock content %}