{% extends "base.html" %}
{% block content %}
    <div id="button-content">

        <div>
            {% if previous %}
            <a href="/topic/{{ category_title }}/{{ previous.title }}/">Previous</a>
            {% endif %}
        </div>
        

        <div>
            <a href="/category/{{ category_title }}/">Back To List</a>
        </div>
        

        <div>
            {% if next %}
            <a href="/topic/{{ category_title }}/{{ next.title }}/">Next</a>
            {% endif %}
        </div>
    </div>

    <h2>{{ title }}</h2>
            
    <div id="main-content-code">

        <pre><code  style="padding-top: 5px; padding-bottom: 5px;"class="language-{{category_title}}">{{code}}</code></pre>
        {% if output %}
        <br>
        <pre><code  style="padding-top: 5px; padding-bottom: 5px;"class="language-python">#Output: {{output}}</code></pre>
        {% endif %}

        {% if version %}
        <div class="note">
            <p>Tested in version: {{version}}</p>
        </div>
        {% endif %}

        <div class="vote_buttons">
            
        </div>
    </div>

{% endblock content %}